{% extends "base.html" %}

{% block content %}
    <div data-data='{{data}}' class="data-container hidden"></div>
    <div class="instructions">
        <div id="name" class="headline"></div>
    </div>
    
    <div class="results mt-3">
        
    </div>
    <div class="rotating-container mt-5 hidden">
        <img id="reaction" src="../static/img/rotating.jpg" alt="">
    </div> 

    <form class="form" method="post">
        <div class="name mt-3">
            <input type="text" class="form-control name-friend" placeholder="Введи свое имя здесь" />
        </div>
        <div class="entry">
            <div class="cards">
                
            </div>
        </div>
        <div class="my-5  check-div text-center">
            <!-- <i class="far fa-paper-plane"></i> -->
            <button type="submit" id="check-button" class="btn btn-primary">Проверить!</button>
        </div>
    </form>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal">КотеноК!</h5>
            </div>
            <div class="modal-body">
              Все поля должны быть заполнены! Правильные ответы должны быть отмечены!
            </div>
          </div>
        </div>
      </div>


    <script src="../static/js/test.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}


        
